nav {
  // max-width: 780px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #666;
  background-color: #EEE;
  width: 100%;


  .home-button {
    float: left;
    font-size: 0.9em;
  }

  .nav-list {
    list-style-type: none;

    .nav-item {
      float: right;
      padding: 5px;
      margin: 5px;
    }
  }
  .multi-purpose {
    margin-right: 0px;
    font-size: 1.4em;
  }
  .topbar-anchor {
    text-decoration: none;
    color: #222;
    font-size: 1.3em;

  }
}

footer {
  margin: 0 auto;
  padding: 10px;
  max-width: 480px;
  border-top: 2px solid #666;
}
