.register-form {
  margin: 0 auto;
  background-color: #FFF;
  width: 640px;
  -webkit-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
  box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
}

.login-form {
  margin: 0 auto;
  background-color: #FFF;
  width: 640px;
  -webkit-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
  box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
}

.close {
  float: left;
  display: inline-block;
}

.submit {
  float: right;
}

.status-modal {
  z-index: 11;
  width: 440px;
  max-width: 480px;
  display: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
  box-shadow: -1px 2px 10px 1px rgba(0,0,0,0.58);
}
