body {
   background-color: #EFEFEF;
   text-align: center;
   margin: 20px;
   padding: 10px;
}

nav {
  .home-button {
    float: left;
  }
  .nav-list {
    list-style-type: none;

    .nav-item {
      float: right;
      padding: 5px;
      margin: 5px;
    }

  }
}

main {
  .street-view-canvas {
    height: 80vh;
    width: 80%;
    position: relative;
    z-index: 8;
  }
  .minimap-canvas {
    height: 20vh;
    width: 20%;
    position: absolute;
    transition: all 200ms ease-in;
    transform-origin: top left;
    transform: scale(1);
    z-index: 10;
  }
  .minimap-canvas:hover {
    // height: 40vh;
    // width: 40%;
    // transition: all 200ms ease-in;
    // transform: scale(1.5);
  }
  .results-map-canvas {
    height: 80vh;
    width: 80%;
  }
  // .minimap-holder {
  //   position: absolute;
  //   z-index: 10;
  //   height: 80%;
  //   width: 120vh;
  // }
}
