@import 'header';
@import 'modals';
@import 'ux-features';


body {
   background-color: #FDFDFF;
   color: #444;
   text-align: center;
   margin: 20px;
   padding: 10px;
}
.dim {
  background: linear-gradient(
   rgba(0, 0, 0, 0.4),

   rgba(0, 0, 0, 0.4)
 ),
}
//Maps
main {
    .street-view-canvas {
      height: 80vh;
      max-width: 960%;
      position: relative;
      margin: 0 auto;
    }
    .minimap-holder {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      :hover {
        cursor: crosshair;
      }
    }
    .minimap-canvas {
      height: 20vh;
      width: 20%;
      padding: 10px;

      position: absolute;
      transition: all 200ms ease-in;
      transform-origin: top left;
      transform: scale(1);
      z-index: 10;

    }
    .minimap-canvas:hover {
      cursor: crosshair;
      transition: all 200ms ease-in;
      transform: scale(1.2);
    }
    .results-map-canvas {
      height: 80vh;
      max-width: 960%;
      margin: 0 auto;
    }
}

//buttons
.register-main {
  font-size: 1.5em;
}
