@import 'header';
@import 'modals';
@import 'ux-features';


body {
   background-color: #FDFDFF;
   color: #333;
   text-align: center;
   margin: 0;
   padding: 0;
}
.dim {
  background: linear-gradient(
   rgba(0, 0, 0, 0.4),

   rgba(0, 0, 0, 0.4)
 ),
}

//Generic
h1, h2, h3 {
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 6rem;
}

.subtitle {
  padding-bottom: 20px;
}

.about .the-code .ways-to-play {
  font-size: 6rem;
}

//Maps
main {

    .street-view-canvas {
      height: 80vh;
      max-width: 960%;
      position: relative;
      margin: 0 auto;
    }
    .minimap-holder {
      height: 100%;
      width: 100%;
      position: relative;
      overflow: hidden;
      :hover {
        cursor: crosshair;
      }
    }
    .minimap-canvas {
      height: 20vh;
      width: 20%;
      padding: 10px;

      position: absolute;
      transition: all 200ms ease-in;
      transform-origin: top left;
      transform: scale(1);
      z-index: 10;

    }
    .minimap-canvas:hover {
      cursor: crosshair;
      transition: all 200ms ease-in;
      transform: scale(1.2);
    }
    .results-map-canvas {
      height: 80vh;
      max-width: 960%;
      margin: 0 auto;
    }
}
